.site-card-border-less-wrapper {
  display: flex;
  justify-content: center;
  box-shadow: 0 0 1em black;
  border-radius: 10px;
}

@media screen and (max-width: 6000px) {
  div.ant-row {
    display: flex;
    flex-flow: row !important;
  }
}

@media screen and (max-width: 600px) {
  div.ant-row {
    font-size: 10px;
    flex-wrap: wrap !important;
    width: fit-content;
    align-items: center !important;
    justify-content: space-around !important;
  }
  .ant-col-8 {
    display: flex !important;
    flex-direction: column;
    flex-wrap: wrap !important;
    width: min-content !important;
  }
}

.ant-input {
  font-size: 20px;
  padding: 20px;
  width: 50vw !important;
  outline: none;
  border: none;
  border-radius: 15px 0 0 15px !important;
}



.ant-input-group {
  display: flex !important;
}

.ant-input-search-button {
background-color: black !important;
height: 50px !important;
width: 50px !important;
  border-top-right-radius: 5px !important;
  border-bottom-left-radius: 5px !important;
  border: 0ch;
}

#map {
  height: 80vh;
  position: relative;
}
